:root {
  --color-primary: #CF0A0A;
  --color-secondary: #DC5F00;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 { font-size: 2.6rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.6rem; }

p,
label,
select,
button,
option { font-size: 1.4rem; }

span {  font-size: inherit; }

.btn {
  padding: 1rem;
  font-weight: bold;
}